@charset "utf-8";

.div1 {
    margin-top: 80px;
    padding: 0 ;
    width: 30%;
}

.div1 ul {
    border-radius: 15px 15px 0 0;
    text-align: center;
    font-size: 150%;
}

.div2 {
    background-color: white;
    padding: 0px 50px 20px 50px;
    margin-bottom: 237px;
    width: 30%;
    border-radius: 0;
}

.div3 {
    margin-bottom: 20px;
}

.div4 {
    margin-bottom: 0px;
}

.a {
    display: block;
    text-align: right;
}

button[type="submit"] {
    margin: 20px 0;
}

.div2 p {
    text-align: center;
}

.div2 p a {
    margin-left: 10px;
}

.div2 p.p1 {
    text-align: center;
    background-color: gray;
    color: white;
    padding: 10px;
}

.div2 .div21 p{
    text-align: center;
    background-color: gray;
    color: white;
    padding: 10px;
}