{% extends 'news/base.html' %}
{% load static %}
{% block title %}<title>login</title>{% endblock title %} 
{% block css %}<link rel="stylesheet" href="{% static '/css/register.css' %}" type="text/css">{% endblock css %}

{% block content %}
{% include 'news/navbar2.html' %}
<div class="container ddiv1">
    <ul class="list-group">
        <li class="list-group-item bg-info">重設密碼完成</li>
    </ul>
</div>
<div class="container border pt-4 ddiv2">
        <div class="div21">
            <p>密碼以重置完成，可以去登入了~</p>
        </div>
        <p>前往登入 ?<a href="/login/">登入</a></p>

</div>
{% endblock content %}