{% extends 'news/base.html' %}
{% load static %}
{% block title %}<title>login</title>{% endblock title %} 
{% block css %}<link rel="stylesheet" href="{% static '/css/register.css' %}" type="text/css">{% endblock css %}

{% block content %}
{% include 'news/navbar2.html' %}
<div class="container ddiv1">
    <ul class="list-group">
        <li class="list-group-item bg-info">重設密碼</li>
    </ul>
</div>
<div class="container border pt-4 ddiv2">
    <form action="." method="POST" class="was-validated">
        {% csrf_token %}
        <div class="form-group div3">
            <label for="pwd1">新密碼</label>
            <input type="password" class="form-control" id="pwd1" name="new_password1" autocomplete="new-password" required>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">請填寫...</div>
        </div>

        <div class="form-group ddiv3">
            <label for="pwd2">確認新密碼</label>
            <input type="password" class="form-control" id="pwd2" name="new_password2" autocomplete="new-password" required>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">請填寫...</div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">送出</button>
        <div class="div22">
            <p><small>你的密碼不能與其他個人資訊太相近。</small></p> 
            <p><small>你的密碼必須包含至少 8 個字元。</small></p>
            <p><small>你不能使用常見的密碼。</small></p>
            <p><small>你的密碼不能完全是數字。</small></p>
        </div>
    </form>
</div>
{% endblock content %}
