{% extends 'news/base.html' %}
{% load static %}
{% block title %}<title>login</title>{% endblock title %} 
{% block css %}<link rel="stylesheet" href="{% static '/css/register.css' %}" type="text/css">{% endblock css %}

{% block content %}
{% include 'news/navbar2.html' %}
<div class="container ddiv1">
    <ul class="list-group">
        <li class="list-group-item bg-info">重設密碼發送</li>
    </ul>
</div>
<div class="container border pt-4 ddiv2">
    <div class="div21">
        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
</div>
{% endblock content %}