{% extends 'news/base.html' %}
{% load static %}
{% block title %}<title>login</title>{% endblock title %} 
{% block css %}<link rel="stylesheet" href="{% static '/css/register.css' %}" type="text/css">{% endblock css %}

{% block content %}
{% include 'news/navbar2.html' %}
<div class="container ddiv1">
    <ul class="list-group">
        <li class="list-group-item bg-info">重設密碼</li>
    </ul>
</div>
<div class="container border pt-4 ddiv2">
    <form action="." method="POST" class="was-validated">
        {% csrf_token %}
        <div class="form-group ddiv3">
            <label for="email">信箱</label>
            <input type="email" class="form-control" id="email" name="email" autocomplete="email" required>
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">請填寫電子郵件...</div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">送出</button>
        <p>已有帳號 ?<a href="/login/">登入</a></p>
        <p>去註冊 ?<a href="/register/">註冊</a></p>
    </form>
</div>
{% endblock content %}
